<td><%= url %></td>
<td><%= http_verb %></td>
<td><%= object_type %></td>
<td><%= time_to_run%></td>
<td><%= timeout %></td>
<td><%= start_time %></td>
<td><%= end_time %></td>
<td><%= status_result %></td>