<h1>Edit URL</h1>

<form id="edit-url_request_response" name="url_request_response">

  <div class="field">
    <label for="url"> URL:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="field">
    <label for="http_verb"> Verb:</label>
    <select name="http_verb" id="http_verb">
      <option value="GET" "<%if (http_verb == 'GET') { %>  selected = true <% } %>">GET</option>
      <option value="POST" "<%if (http_verb == 'POST') { %>  selected = true <% } %>">POST</option>      
    </select>
  </div>

  <div class="field">
    <label for="request_header"> Request Header:</label>
    <textarea name="request_header" id="request_header" value = "<%= request_header %>"/>
  </div>

  <div class="field">
    <label for="request_body"> Request Body:</label>
    <textarea name="request_body" id="request_body" value = "<%= request_body %>"/>
  </div>

  <div class="field">
    <label for="expected_request_header"> Expected Response Header:</label>
    <textarea name="expected_response_header" id="expected_response_header" value = "<%= expected_response_header %>"/>
  </div>

  <div class="field">
    <label for="expected_response_body"> Expected Response Body:</label>
    <textarea name="expected_response_body" id="expected_response_body" value = "<%= expected_response_header %>"/>
  </div>

  <div class="field">
    <label for="time_to_run"> Time to run:</label>
    <input type="text" name="time_to_run" id="time_to_run" value = "<%= time_to_run %>">
  </div>

  <div class="field">
    <label for="timeout"> Timeout:</label>
    <input type="text" name="timeout" id="timeout" value="<%= timeout %>">
  </div>

  <div class="field">
    <label for="object_type"> Object:</label>
    <select name="object_type" id="object_type">
      <option value="JSON" "<%if (http_verb == 'JSON') { %>  selected = true <% } %>">JSON</option>      
    </select>
  </div>

  <div class="actions">
    <input type="submit" value="Update URL" />
  </div>

</form>

<a href="#/index">Back</a>