<!-- Modal -->
  <div class="modal" id="update-url-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#index" class="close close-edit-url-modal" data-dismiss="modal" aria-hidden="true">&times;</a>
          <h4 class="modal-title">Edit URL Schedule</h4>
        </div>
        <div class="modal-body">
          <form id="edit-url_request_response" name="url_request_response">

            <div class="form-group">
              <label class="label-style" for="url"> URL</label>
              <input type="text" class="form-control max-width" name="url" id="url" value="<%= url %>" >
            </div>

            <div class="form-group">
              <label class="label-style" for="http_verb"> Verb</label>
              <select class="form-control max-width" name="http_verb" id="http_verb">
                <option value="GET" "<%if (http_verb == 'GET') { %>  selected = true <% } %>">GET</option>
                <option value="POST" "<%if (http_verb == 'POST') { %>  selected = true <% } %>">POST</option>      
              </select>
            </div>

            <div class="form-group">
              <label class="label-style" for="request_header"> Request Header</label>
              <textarea class="form-control max-width" name="request_header" id="request_header"><%= request_header %></textarea>
            </div>

            <div class="form-group">
              <label class="label-style" for="request_body"> Request Body</label>
              <textarea class="form-control max-width" name="request_body" id="request_body"><%= request_body %></textarea>
            </div>

            <div class="form-group">
              <label class="label-style" for="expected_request_header"> Expected Response Header</label>
              <textarea class="form-control max-width" name="expected_response_header" id="expected_response_header"><%= expected_response_header %></textarea>
            </div>

            <div class="form-group">
              <label class="label-style" for="expected_response_body"> Expected Response Body</label>
              <textarea class="form-control max-width" name="expected_response_body" id="expected_response_body"><%= expected_response_body %></textarea>
            </div>
            <div class="well">
              <label class="label-style" for="time_to_run"> Time to run</label>
              <div id="datetimepicker2" class="input-append">
                <input data-format="MM/dd/yyyy HH:mm:ss PP" id="time_to_run" type="text" value = "<%= time_to_run %>"></input>
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                  </i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="label-style" for="timeout"> Timeout</label>
              <input class="form-control max-width" type="text" name="timeout" id="timeout" value="<%= timeout %>">
            </div>

            <div class="form-group">
              <label class="label-style" for="object_type"> Object</label>
              <select class="form-control max-width" name="object_type" id="object_type">
                <option value="JSON" "<%if (http_verb == 'JSON') { %>  selected = true <% } %>">JSON</option>      
              </select>
            </div>
            <input type="submit" value="Update URL" class="btn btn-default"/>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#index" class="close-edit-url-modal btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->