<td><%= url %></td>
<td><%= http_verb %></td>
<td><%= timeout %></td>
<td><%= object_type %></td>

<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>