<td><%= url %></td>
<td><%= verb_id %></td>
<td><%= request_header %></td>
<td><%= request_body %></td>
<td><%= response_header %></td>
<td><%= response_body %></td>
<td><%= timeout %></td>
<td><%= request_object_type_id %></td>

<td><a href="#/<%= _id %>">Show</td>
<td><a href="#/<%= _id %>/edit">Edit</td>
<td><a href="#/<%= _id %>/destroy" class="destroy">Destroy</a></td>